.navbar,
:global(.dark) .navbar {
  background-color: var(--bs-white-background) !important;
  border-bottom: 1px solid var(--bs-white-component-border) !important;
}

.navLink,
:global(.dark) .navLink {
  color: var(--bs-white-sub-text) !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-weight: 600 !important;
  font-size: medium !important;
}
.navLink:hover,
:global(.dark) .navLink:hover {
  color: var(--bs-white-head-text) !important;
}

.active,
:global(.dark) .active {
  color: var(--bs-white-head-text) !important;
}
