.button,
:global(.dark) .button {
  color: var(--bs-white-component) !important;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem !important;
  font-weight: 600 !important;
  font-size: medium !important;
}
.button:hover,
:global(.dark) .button:hover {
  color: var(--bs-white-component) !important;
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-white-component-border) !important;
}
.button:active,
.button:target,
:global(.dark) .button:active,
:global(.dark) .button:target {
  color: var(--bs-white-component) !important;
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-white-component-border) !important;
}
