.div {
  height: 20rem;
}
.img {
  height: 20rem;
  object-fit: cover;
}

.imgDiv {
  position: relative;
  left: 1rem;
  top: -19rem;
  z-index: 1;
  height: 20rem;
  background-color: var(--bs-primary);
}

.p {
  word-break: break-all;
}

.text {
  line-height: 1.4;
}
